<div class="container">
    <h2>Đăng Ký</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="form-group">
        <label for="tenTK">Tên Tài Khoản</label>
        <input id="tenTK" formControlName="tenTK" type="text" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="matKhau">Mật Khẩu</label>
        <input id="matKhau" formControlName="matKhau" type="password" class="form-control" required />
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Đăng Ký</button>
      
    </form>
  </div>
  
  