<!-- <h2>Danh sách trả sách</h2> -->
<div class="container">
    <h2>Danh sách trả sách</h2>
    <!-- <div class="search-bar">
      <input type="text" placeholder="Nhập tên thành viên" />
      <button>Tìm kiếm</button>
    </div> -->
    <div class="search-bar">
        <input 
          type="text" 
          [(ngModel)]="searchQuery" 
          placeholder="Nhập tên thành viên" 
          (input)="searchMember()" />
        <button (click)="searchMember()">Tìm kiếm</button>
      </div>
    <table class="table">
      <thead>
        <tr>
          <!-- <th>Id trả sách</th> -->
          <th>Id mượn sách</th>
          <th>Tên thành viên</th>
          <th>Ngày trả</th>
          <th>Tình trạng sách</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of danhSachTraSach">
          <!-- <td>{{ item.traID }}</td> -->
          <td>{{ item.muonId }}</td>
          <td>{{ item.tenThanhVien }}</td>
          <td>{{ item.ngayTra | date }}</td>
          <td>{{ item.tinhTrangSach }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  